@charset 'utf-8';

html,
body {
  height: 100%;
}

.my-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.my-container .hideElem {
  display: none;
}

.my-content.container-fluid {
  flex: 1 1 auto;
}


@keyframes statusEntrance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.new-request-message .alert {
  display: none;
}

.new-request-message div.alert.activeStatus {
  animation: statusEntrance 1s ease 0s 1 normal forwards;
  display: block;
}

div#newRequestOffCanvas, div#profileOffCanvas {
  border: none;
  background: rgba(255, 255, 255, 0.89);
}

#rDescription {
  height: 128px;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.table td,
.table th {
  padding-left: 1rem;
  padding-right: 1rem;
}

.accordion button>i.bi {
  font-size: 22px;
}

a {
  cursor: pointer;
}

h3.popover-header {
  padding: 8px 8px 4px 8px;
  font-size: 14px;
  text-align: center;
  border: none;
  background-color: transparent;
}

div.popover-body {
  padding: 4px 8px 8px 8px;
}

.popover-body a.btn {
  font-size: 12px;
  width: 75px;
  font-weight: 500;
}

#filterDropdown .input-group-text {
  min-width: 112px;
}

#filterDropdown ul {
  min-width: 300px;
}

#searchDropdown ul {
  min-width: 200px;
}

.password-match, .password-not-match {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
}

.valid-password .password-match, .invalid-password .password-not-match {
  display: block;
}

@keyframes statusEntrance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.update-message .alert, .update-password-message .alert {
  display: none;
}

.update-message div.alert.activeStatus, .update-password-message div.alert.activeStatus {
  animation: statusEntrance 1s ease 0s 1 normal forwards;
  display: block;
}
